<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="page-top" style="padding-top: 7em;">

      {% include navbar.html %}
      {{ content }}

      <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-34145995-1");
      pageTracker._trackPageview();
      </script>

      <!-- Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34145995-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-34145995-1');
      </script>

  </body>
</html>
